################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/CpCodeSelect/.vs/CpCodeSelect
/CpCodeSelect/bin/Debug
/CpCodeSelect/obj/Debug
/CpCodeSelect.Util/bin/Debug
/CpCodeSelect.Util/obj/Debug
/CpCodeSelect.Util/obj/Debug/CpCodeSelect.Util.pdb
/CpCodeSelect/bin
/CpCodeSelect/bin/Debug_1.zip
/CpCodeSelect/obj/Release
/CpCodeSelect.Model/bin/Release
/CpCodeSelect.DA/obj/Release
/CpCodeSelect.Model/obj
/CpCodeSelect.Util/obj
/CpCodeSelect.Util/bin
/CpCodeSelect/bin
/CpCodeSelect.Business/bin/Debug
/CpCodeSelect.Business/obj/Debug
/CpCodeSelect.DA/bin/Release
/CpCodeSelect.Model/bin

