################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/CpCodeSelect/.vs/CpCodeSelect
/CpCodeSelect/bin/Debug
/CpCodeSelect/obj/Debug
/CpCodeSelect.Util/bin/Debug
/CpCodeSelect.Util/obj/Debug
/CpCodeSelect.Util/obj/Debug/CpCodeSelect.Util.pdb
/CpCodeSelect/bin
/CpCodeSelect/bin/Debug_1.zip
/CpCodeSelect/obj/Release
/CpCodeSelect.Model/bin/Release
/CpCodeSelect.DA/obj/Release
/CpCodeSelect.Model/obj
/CpCodeSelect.Util/obj
/CpCodeSelect.Util/bin
/CpCodeSelect/bin
/CpCodeSelect.Business/bin/Debug
/CpCodeSelect.Business/obj/Debug
/CpCodeSelect.DA/bin/Release
/CpCodeSelect.Model/bin

/CpCodeSelect.Util/obj
/CpCodeSelect.Model/bin
/CpCodeSelect.Business/obj/Release
/CpCodeSelect.Business/bin/Release
/CpCodeSelect.Model/bin/Debug/CpCodeSelect.Model.pdb
/CpCodeSelect.Model/obj/Debug/CpCodeSelect.Model.csproj.CoreCompileInputs.cache
/CpCodeSelect.Util/bin/Debug/CpCodeSelect.Model.dll
/CpCodeSelect.Util/bin/Debug/CpCodeSelect.Model.pdb
/CpCodeSelect.Model/obj/Debug/CpCodeSelect.Model.dll
/CpCodeSelect.Model/obj/Debug/CpCodeSelect.Model.pdb
/CpCodeSelect.Control/obj/Debug/CpCodeSelect.Control.csproj.AssemblyReference.cache
/CpCodeSelect.Control/obj/Debug/CpCodeSelect.Control.csproj.CoreCompileInputs.cache
/CpCodeSelect.Control/obj/Debug/CpCodeSelect.Control.csproj.FileListAbsolute.txt
/CpCodeSelect.Control/obj/Debug/CpCodeSelect.Control.csproj.GenerateResource.cache
/CpCodeSelect.Control/obj/Debug/CpCodeSelect.Control.dll
/CpCodeSelect.Control/obj/Debug/CpCodeSelect.Control.HistoryDataSet.resources
/CpCodeSelect.Control/obj/Debug/CpCodeSelect.Control.pdb
/CpCodeSelect.Control/bin/Debug/CpCodeSelect.Control.dll
/CpCodeSelect.Control/bin/Debug/CpCodeSelect.Control.pdb
/CpCodeSelect.Control/bin/Debug/CpCodeSelect.Model.dll
/CpCodeSelect.Control/bin/Debug/CpCodeSelect.Model.pdb
/CpCodeSelect.Control/bin/Release
/CpCodeSelect.Control/obj/Release
/CpCodeSelect.DA/obj/Debug/CpCodeSelect.DA.csproj.AssemblyReference.cache
/CpCodeSelect.Model/obj/Debug/CpCodeSelect.Model.csproj.AssemblyReference.cache
